body{margin:0px; padding:0px;}

header{font-size:200%; text-align:center;}
.a{background: blue; padding:20px; float:left;  height:160px;  }
.b{background: green; padding:20px; height:160px;}

nav{background:red; font-size:200%; height:70px; text-align:center;}
.c{background: yellow; margin: 3px; padding:2px; float:left;}
.d{background: yellow; margin: 3px; padding:2px; float:left;}
.e{background: yellow; margin: 3px; padding:2px; float:left;}
.f{background: yellow; margin:3px; padding:2px; float:left;}

section{font-size: 200%;  }
.g{background: blue; padding:20px; float:left; height:150px;}
.h{background:lightgreen; padding:20px; float:left; height:150px;}

footer{background: yellow; font-size:200%; height:150px; clear:left; text-align:center;}